<%- include("header") -%>

<div class="container">
  <div class="main center">

    <h3>Sept 8th at 10pm</h3>
    <p><strong>Doors close at 11:30pm</strong></p>
    <hr>
    <p>Open to those invited by <a class="btn-link" href="https://www.instagram.com/kyra_nank/">Kyra</a> <br> + invitee friends who <a class="btn-link" href="/">rsvp</a></p>
    <p><a class="btn-link" href="https://www.instagram.com/affluent.toronto/">Affluent</a> (near Yorkdale mall) <br> Free parking in the area</p>
    <p>Cover is $15 for venue <br>kyra.nankivell@gmail.com</p>
    <p>Drinks available at bar <br> Weed is welcome</p>
    <p>Cheers 🥂</p>

  </div>
</div>

<%- include("footer") -%>
