<%- include("header") -%>

<div class="container">
  <div class="main center">

    <h3 class="cover-title">$15 Cover</h3>
    <p>The beautiful rooftop venue is not free ;)</p>
    <p>Please etransfer to <strong>kyra.nankivell@gmail.com</strong></p>
    <p>If venue fees aren't covered by Sept 6th, the event will be cancelled and you'll get a refund.</p>
    <a href="/success" class="btn btn-info confirm" type="button">Confirm RSVP</a>

  </div>
</div>

<%- include("footer") -%>
