<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kyra Turns 21</title>
  </head>
  <body>

    <div class="">
      <h3>Kyra Turns 21</h3>
      <p>Room for <%= spotsRemaining %> more good people.</p>

      <form class="" action="/" method="post">
        <input type="text" name="fName" placeholder="first" required>
        <input type="text" name="lName" placeholder="last" required>
        <input type="tel" name="phone" placeholder="phone" required>
        <input type="text" name="partyCode" placeholder="code" required>
        <input type="checkbox" name="age" value="legal age" required>
        <label for="legal age">I am of legal drinking age</label>
        <button type="submit" name="form complete">Next</button>
      </form>

      <a href="/details">Event details</a>
    </div>
  
  </body>
</html>
