<%- include("header") -%>

<div class="container">
  <div class="main center">

    <h3>SOLD OUT! 🚨</h3>
    <p>WOW. We filled all 165 spots and reached maximum capacity! More events to come...</p>
  </div>
</div>

<%- include("footer") -%>
