<%- include("header") -%>

<div class="container">
  <div class="main center">

    <h3>SUCCESS! 😈</h3>
    <p>You'll receive a text message with the address & ticket once your etransfer is confirmed.</p>

  </div>
</div>

<%- include("footer") -%>
